@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply bg-[#161616] font-nunito;
  }

  ::-webkit-scrollbar {
    @apply h-1.5 w-1.5;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-blend-darken;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  }

  html {
    scroll-behavior: smooth;
  }
}

input:focus,
textarea:focus {
  outline: none !important;
  outline-offset: 0 !important;
  --tw-ring-offset-width: none !important;
}

li:focus-visible {
  outline: none;
}

li:hover {
  cursor: pointer;
}

.common-button {
  cursor: pointer;
  outline: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
